<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Park Here 24</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="pull-left visible-md visible-lg">
            <div id="logo-img"></div>
          </a>

          <div class="navbar-brand">

            </a>
            <p>
              <span></span>
            </p>
          </div>

          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li id="navHomeButton" class="visible-xs active">
              <a href="index.html">
                <i class='fas fa-home' style='font-size:30px'></i> Home</a>
            </li>
            <li id="navMenuButton">
              <a href="#">
                <i class='fas fa-car' style='font-size: 30px'></i><br class="hidden-xs"> Parking</a>
            </li>
            <li>
              <a href="#">
                <i class='fas fa-info' style='font-size:30px'></i><br class="hidden-xs"> About</a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-user" style="font-size: 30px;"></i><br class="hidden-xs"> Login</a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>


  <div id="main-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Locations</h2>

    <section class="row">
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car/Bike</div>
              <img class="img-responsive" width="250" height="150" src="/images/Delhi Parking/India Expo.jpg" alt="Item">
            </div>
            
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Expo Mart Car Parking</h3>
            <p class="menu-item-details">Knowledge Park III, Greater Noida, Uttar Pradesh 201310  </p>
            <a href="https://goo.gl/maps/By45scMnvRLQcyrx6" target="_blank">
              <i class='fa fa-map-marker fa-x' style='font-size:30px ;color:red' aria-hidden="true"></i><br class="hidden-xs">Direction</a>

          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car/Bike</div>
              <img class="img-responsive" width="250" height="150" src="/images/Delhi Parking/IEC.jpg" alt="Item">
            </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">IEC College Parking</h3>
            <p class="menu-item-details">Knowledge Park I, Greater Noida, Uttar Pradesh 201310</p>
            
            <a href="https://goo.gl/maps/gSHEhRaAqqziTfB8A" target="_blank">
              <i class='fa fa-map-marker fa-x' aria-hidden="true" style=' color:red' ></i><br class="hidden-xs">Direction</a>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car</div>
              <img class="img-responsive" width="250" height="150" src="/images/Delhi Parking/ansal-plaza.jpg" alt="Item">
            </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Ansal Plaza Basement parking</h3>
            <p class="menu-item-details">Knowledge Park-1 Plot no.1/C, Pari Chowk, Greater Noida, Uttar Pradesh 201310
            </p>
            <a href="https://goo.gl/maps/oCxU8FJWwkVK6H756" target="_blank">
              <i class='fa fa-map-marker fa-x' aria-hidden="true" style=' color:red' ></i><br class="hidden-xs">Direction</a>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car/Bike</div>
              <img class="img-responsive" width="250" height="250" src="/images/Delhi Parking/NRi.jpg" alt="Item">
            </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Omaxe NRI City</h3>
            <p class="menu-item-details">NRI City Service Ln, NRI City, Omega II, Greater Noida, Uttar Pradesh 201310</p>
            <a href="https://goo.gl/maps/oCxU8FJWwkVK6H756" target="_blank">
              <i class='fa fa-map-marker fa-x' aria-hidden="true" style=' color:red' ></i><br class="hidden-xs">Direction</a>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car/Bike</div>
              <img class="img-responsive" width="250" height="150" src="/images/Delhi Parking/Grand.jpg" alt="Item">
            </div>
            
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Grand Venice mall</h3>
            <p class="menu-item-details">Near, Plot No SH3, Site IV, Pari Chowk, Greater Noida, Uttar Pradesh 201308</p>
            
            <a href="https://goo.gl/maps/gSHEhRaAqqziTfB8A" target="_blank">
              <i class='fa fa-map-marker fa-x' aria-hidden="true" style=' color:red' ></i><br class="hidden-xs">Direction</a>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>Car/Bike</div>
              <img class="img-responsive" width="250" height="150" src="/images/Delhi Parking/IEC.jpg" alt="Item">
            </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">IEC College Parking</h3>
            <p class="menu-item-details">Knowledge Park I, Greater Noida, Uttar Pradesh 201310</p>
            
            <a href="https://goo.gl/maps/gSHEhRaAqqziTfB8A" target="_blank">
              <i class='fa fa-map-marker fa-x' aria-hidden="true" style=' color:red' ></i><br class="hidden-xs">Direction</a>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

    </section>
  </div>

  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="place" class="col-sm-4">
          <span>CONTACT</span><br>
          phone number and futher details.<br>
         
          <hr class="visible-xs">
        </section>

        <section id="social" class="col-sm-4">
        <ul id="foot-list">
          <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
          <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://mail.google.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
        </ul>
        <hr class="visible-xs">
      </section>
      
        
      </div>
      <div class="text-center">&copy; Copyright Park here 24 </div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ajax-utils.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
